/*This file was designed using OOCSS
* To have it working propperly you'll need a bootstrap version
* that supports glyphcons.
*/

/*Configuring native bootstrap*/

  .remove-margin {
  	padding-left: 14px;
  }

  .btn:focus {
    outline: none;
  }

  a:visited, a:focus, a:hover, a {
     background-color: white !important;
     box-shadow: none;
     text-decoration:none;
  }

/*General design*/
  * {
  	font-family: "Raleway", Arial, Helvetica, sans-serif;
  	list-style-type: none;
  }

  body {
    background-color: #F4F5FA*/;
  	top: 108.167px;
  	position: relative;
  }

/*White navbar*/

  .navbar-nav {
    padding-top: 15px;
    padding-left: 50px;
  }

  .navbar-brand {
    padding-left: 35%;
  }

  .white-navbar {
  	background-color: white;
  	height: 108.167px;
  	width: 100%;
  	z-index: 1;
  }

  .white-navbar-logo {
  	height: auto;
  	position: relative;
  	top: -10px;
  	width: 254px;
  }

  .white-navbar-text {
  	padding: 10px;
  }

  .white-navbar-text a {
  	color: black;
  }

  .white-navbar-text a:hover {
  	color: #a0ce4e;
  }

  .white-navbar-button {
  	background-color: #A0CE4E;
  	color: white;
  	margin-top: -10px;
  	width: 182px;
  }

  .white-dropdown-menu {
  	margin-top: 19px;
  }

/*Photos carousel*/
  /*arrows*/
  .slick-prev,
  .slick-next {
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 50%;

      display: block;

      width: 48px;
      height: 48px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);

      cursor: pointer;

      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }


  .slick-prev:before,
  .slick-next:before {
      font-family: 'Arial';
      font-size: 48px;
    font-weight: bold;
      line-height: 1;

      opacity: .75;
      color: white;

  }

  .slick-prev {
      left: 0;
      z-index: 1;
  }

  .slick-next {
      right: 0;
  }

  /*styling the arrows with glyphicons (bootstrap dependency)*/
  .slick-prev:before, .slick-next:before {
      font-family: "Glyphicons Halflings", "slick", sans-serif;
      font-size: 20px;
  }

  .slick-prev:before { content: "\e257"; }
  .slick-next:before { content: "\e258"; }


  /*dots*/
  .slick-dotted .slick-slider {
      margin-bottom: 0;
  }

  .slick-dots {
      position: absolute;
      bottom: 16px;

      display: block;

      width: 100%;
      padding: 0;
      margin: 0;

      list-style: none;

      text-align: center;

  }

  .slick-dots li button:before {
    color: white;
    font-size: 8px;
  }

  .slick-dots li.slick-active button:before {
      color: white;
  }

  /*photo*/
  .photo {
    background-size: cover;
    background-position: center center;
    height: 432px;
    min-height: 10em;
    padding-bottom: 5%;
    will-change: transform;
    width: 100%;
  }

  /*wrapper*/
  .wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 45em;
    width: 90%;
  }

/*Brands carousel*/
  /*arrows changing its colors aren't working, have no idea why, it worked for dots
  .arrows-partner lick-prev:before slick-next:before {
      opacity: .75;
      color: black;
  }
  */

  .brands-container {
    background-color: #F4F5FA;
    height: auto;
    width: 100%;
  }

  .brands-container p {
    padding-top: 75px;
  }

  .brands-container-text {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    color: #333333; 
  }

  .dots-partners .slick-dots li button:before {
    padding-top: 50px;
    color: black;
  }
  
  .logo-partners {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  }

  .logo-partners:hover {
    filter: none;
  }

/*First content div*/
  .first-content-div {
    background-color: white;
  }

  .first-content-div h2 {
    text-align: center;
    font-size: 23px;
    font-weight: lighter;
    line-height: 30px;
    color: #333333;
  }

/*Footer*/
  .green-line {
  	border-bottom: 4px solid #A0CE4E;
  	height: 4px;
  }

  .cloudly-footer {
  	background-image: url("bg-footer.jpg");
  	height: auto;
    margin-top: 50px;
  }

  .adresses {
  	margin-top: 30px;
  }

  footer-adresses-font {
  	color: #3E3F3F;
  	font-size: 14px;
  	font-weight: lighter;
  	line-height: 22px;
  }

  .footer-adresses-font .footer-adresses-font-city {
  	color: #99B866;
  	font-size: 20px;
  	font-weight: bold;
  }

  .footer-adresses-font .footer-adresses-font-phone {
  	font-weight: bold;
    font-family: 'Open Sans';
  }

  .grey-line {
  	border-bottom: 1px solid #e1e1e1;
    padding-bottom: 30px;
    width: 100%;
  }

  .green-bottom-bar {
  	background-color: #4E6136;
  	height: 52px;
  	margin-top: 316px;
    width: 100%;
  }

  .green-bottom-bar-text {
  	color: white;
  	font-size: 12px;
  	padding-top: 16px;
  }

/*Responsiveness*/
  @media (max-width: 474px) {
    .navbar-toggle {
      z-index: 3;
    }

    .navbar-nav {
      position: relative;
      float: none !important;
      top: -50.5px;
    }

    .navbar-brand {
      left: -30%;
      position: relative;
      top: -50px;
    }

  }

  @media (max-width: 504px) {
    .navbar-brand {
      left: -30%;
      position: relative;
      top: -50px;
    }
  }

  @media (max-width: 1250px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 47.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  }